@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh; /* 화면 전체 높이를 사용 */
}

header {
  background-color: #0a75bc;
  color: white;
  padding: 1rem;
  text-align: left;
}

footer {
  background-color: #0a75bc;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
  margin-top: auto; /* 화면 하단에 위치하도록 설정 */
}

main {
  flex: 1; /* main은 나머지 공간을 차지 */
  padding: 1rem;
}