.kanban-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
    position: relative;
  }
  
  .kanban-add-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 5%;
    background-color: #4caf50;
    color: white;
    font-size: 1.0rem;
    border: none;
    cursor: pointer;
    text-align: center;
    z-index: 100;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .stats-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 5%;
    background-color: #4caf50;
    color: white;
    font-size: 1.0rem;
    border: none;
    cursor: pointer;
    text-align: center;
    z-index: 100;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 200px;
  }
  
  .kanban-column {
    width: 140px;
    background-color: #f4f4f4;
    margin-right: 5px;
    padding: 5px;
    border-radius: 8px;
    margin-top: 70px; 
    text-align: center;
  }

  .kanban-card-title {
    font-weight: bold; /* Bold 스타일 */
    /*margin-bottom: 5px;  아래 텍스트와의 간격 */
    text-align: left;
  }
  
  .kanban-card-description {
    font-weight: normal; /* 일반 텍스트 */
    text-align: left;
    font-size: 0.9rem;
  }

  .kanban-card {
    background-color: white;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .kanban-card-reserve {
    background-color: gold;
  }

  .kanban-card-today {
    background-color: tomato;
  }

  .kanban-card-change {
    background-color: lightblue;
  }
  
  .kanban-card:hover {
    transform: scale(1.05);
  }
  
  .kanban-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
  }
  
  .kanban-popup label {
    display: block;
    margin-bottom: 10px;
  }
  
  .kanban-save-button, .kanban-cancel-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .kanban-delete-button {
    background-color: red;
    color: white;
    padding: 8px 16px;
    margin-left: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .kanban-delete-button:hover {
    background-color: darkred;
  }
  
  .kanban-save-button:hover, .kanban-cancel-button:hover {
    background-color: #0056b3;
  }
  
  .stay-input {
    width: 40px;
    /* input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    } */
    text-align: right;
  }